form{
    height: 200px;
    width: 500px;
    
}
.button{
    margin-top: 1em;
         height: 50px;
     width: 400px;
    background-color: blue;
}

input[type]:invalid{
    border: 2px solid red;
}
input[type]:valid
    border: 2px solid green;
}
